extends layout

block content
  .container
    h2.headit aegis
    .phone
      img(src="images/shield.svg", width="250px", class="video-cam")

  #lel.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close.fui-cross(type='button', data-dismiss='modal', aria-hidden='true')
            h4.modal-title Cam
          .modal-body
            input#inputUserName(type="text", placeholder="Name", name="username")
            input#inputUserNumber(type="text", placeholder="Number", name="usernumber")
            button#btnSubmit submit

  script(src='/javascripts/jquery-2.0.3.min.js')
  script(src='/javascripts/jquery-ui-1.10.3.custom.min.js')
  script(src='/javascripts/jquery.ui.touch-punch.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-select.js')
  script(src='/javascripts/bootstrap-switch.js')
  script(src='/javascripts/flatui-checkbox.js')
  script(src='/javascripts/flatui-radio.js')
  script(src='/javascripts/holder.js')
  script(src='/javascripts/flatui-fileinput.js')
  script(src='/javascripts/jquery.tagsinput.js')
  script(src='/javascripts/jquery.placeholder.js')
  script(src='/javascripts/typeahead.js')
  script(src='/javascripts/application.js')
  script(src='//static.twilio.com/libs/twiliojs/1.1/twilio.min.js')
  script(type='text/javascript').
    $(document).ready(function(){
      $(".video-cam").addClass('animated pulse');
    });

    $(".video-cam").click(function(){
      $("#lel").modal("show");
    });

    $("#btnSubmit").click(function(){
      $("#lel").modal("hide");
      var data = {};
      data.name = $("#inputUserName").val();
      data.number = $("#inputUserNumber").val();
      Leap.loop(function(o) {
        if (o.hands.length > 0) {
          console.log("movement detected");
          // the data will be 1, the phone number, and 2, the link
          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:3000/message',
            success: function(data) {
              // log success callback
            }
          });
        }
      });
    });

    $(document).ready(function(){
      $(".video-cam").addClass('animated pulse');
    });

    $(".video-cam").click(function(){
      $("#lel").modal("show");
    });
