extends layout

block content
  #full-video
  .container
    h2.headit aegis
    .phone
      img(src="images/shield.svg", width="250px", class="video-cam")

  #lel.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close.fui-cross(type='button', data-dismiss='modal', aria-hidden='true')
            h4.modal-title Security System
          .modal-body
            .row
              .col-md-4
                input#inputUserName(type="text", placeholder="Name", class = "form-control", name="username",style="width:100%")
              .col-md-4
                input#inputUserNumber(type="text", placeholder="Number", class = "form-control", name="usernumber",style="width:100%")
              .col-md-4
                .btn.btn-primary#btnSubmit(style = "width:100%; text-align:center") Submit
            #video-stream(style = "margin-top:20px;")
            canvas#canvas(style = "display:none;")

  script(src='//js.leapmotion.com/leap-0.4.3.min.js')
  script(src='/javascripts/jquery-2.0.3.min.js')
  script(src='/javascripts/jquery-ui-1.10.3.custom.min.js')
  script(src='/javascripts/jquery.ui.touch-punch.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-select.js')
  script(src='/javascripts/bootstrap-switch.js')
  script(src='/javascripts/flatui-checkbox.js')
  script(src='/javascripts/flatui-radio.js')
  script(src='/javascripts/holder.js')
  script(src='/javascripts/flatui-fileinput.js')
  script(src='/javascripts/jquery.tagsinput.js')
  script(src='/javascripts/jquery.placeholder.js')
  script(src='/javascripts/typeahead.js')
  script(src='//static.twilio.com/libs/twiliojs/1.1/twilio.min.js')
  script(src="//www.rtcmulticonnection.org/latest.js")
  script(type='text/javascript').
    $(document).ready(function(){
      $(".video-cam").addClass('animated pulse');
    });

    var controller = new Leap.Controller( { enableGestures: true } );
    var data = {};
    var leapFlag = true;
    var canvas = document.querySelector('#canvas');
    var photo = document.querySelector('#photo');
    var width = 572;
    var height = 322;

    $(".video-cam").click(function(){
      $("#lel").modal("show");
    });

    function takepicture() {
      height = (video.videoHeight / (video.videoWidth/width));
      canvas.setAttribute('width', width);
      canvas.setAttribute('height', height);
      canvas.width = width/2.5;
      canvas.height = height/2.5;
      var ctx = canvas.getContext('2d');
      ctx.drawImage(video, 0, 0, width, height);
      var imgData = canvas.toDataURL('image/png');
      data.image = imgData;
    }

    $("#btnSubmit").click(function(){
      $("input").prop('disabled', true);
      $(".btn").addClass('disabled');
      $("#btnSubmit").text("Submitted!");
      data.name = $("#inputUserName").val();
      data.number = $("#inputUserNumber").val();
      controller.connect();
    });

    $(document).ready(function(){
      $(".video-cam").addClass('animated pulse');
    });

    $(".video-cam").click(function(){
      $("#lel").modal("show");
    });

    controller.on('frame', function(frame) {
      if (leapFlag) {
        if (frame.hands.length > 0 || frame.fingers.length > 0) {
          console.log("movement detected");
          takepicture();
          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:3000/message',
            success: function(data) {

            }
          });
          leapFlag = false;
          controller.disconnect();
        }
      }
    });

    var connection = new RTCMultiConnection();

    // easiest way to customize what you need!
    connection.session = {
        audio: true,
        video: true
    };

    var watcher = false;
    var sessions = { };
    connection.onNewSession = function(session) {
      if (sessions[session.sessionid]){
        return;
      }
      sessions[session.sessionid] = session;
      session.join({ oneway: true });
    }

    // on getting local or remote media stream
    connection.onstream = function(e) {
          if (e.type == "local"){
            document.getElementById("video-stream").appendChild(e.mediaElement);
            e.mediaElement.setAttribute("id", "video");
            var video = document.querySelector('#video');
           }
          else{
            document.getElementById("full-video").appendChild(e.mediaElement);
            $(".container").hide();
          }
    };

    // setup signaling channel
    connection.connect();

    // open new session
    document.querySelector('#btnSubmit').onclick = function() {
        connection.open();
    };

