extends layout

block content
  .container
    h2.headit aegis
    .phone
      img(src="images/shield.svg", width="250px", class="video-cam")

  #lel.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close.fui-cross(type='button', data-dismiss='modal', aria-hidden='true')
            h4.modal-title Cam
          .modal-body

  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src='/javascripts/jquery-ui-1.10.3.custom.min.js')
  script(src='/javascripts/jquery.ui.touch-punch.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-select.js')
  script(src='/javascripts/bootstrap-switch.js')
  script(src='/javascripts/flatui-checkbox.js')
  script(src='/javascripts/flatui-radio.js')
  script(src='/javascripts/holder.js')
  script(src='/javascripts/flatui-fileinput.js')
  script(src='/javascripts/jquery.tagsinput.js')
  script(src='/javascripts/jquery.placeholder.js')
  script(src='/javascripts/typeahead.js')
  script(src='/javascripts/application.js')

  script(type="text/javascript").
    $(document).ready(function(){
      $(".video-cam").addClass('animated pulse');
    });

    $(".video-cam").click(function(){
      $("#lel").modal("show");
    });
