* {
  margin: 0;
}
html, body {
  background:url("../images/ps_neutral.png");
  color:#88d5c2;
}

.headit{
  margin-top:80px;
  font-size:72px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.phone{
  margin:50px auto!important;
  display:block;
  text-align:center;
}

.video-cam{
  cursor:pointer;
  -webkit-animation-duration:4s;
  -webkit-animation-iteration-count:infinite;
}


#canvas {
  border-radius: 5px;
}

