* {
  margin: 0;
}
html, body {
  border-top:3px solid rgba(212,70,55, 0.8);
  background:url("../images/ps_neutral.png");
  color:#88d5c2;
}

.headit{
  margin-top:80px;
  font-size:72px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  color:rgba(212,70,55, 0.7);
}

.phone{
  margin:50px auto!important;
  display:block;
  text-align:center;
}

.video-cam{
  cursor:pointer;
  -webkit-animation-duration:4s;
  -webkit-animation-iteration-count:infinite;
}

video{
 width:100%!important;
}

#canvas {
  border-radius: 5px;
}

#full-video{
z-index:9999;
}

